[ req ]
default_bits        = 4096
default_keyfile     = nginx.pkcs8
distinguished_name  = req_distinguished_name
attributes          = req_attributes
x509_extensions     = v3_ca

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = BR
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Distrito Federal
localityName                = Locality Name (eg, city)
localityName_default        = Brasilia
organizationName            = Organization Name (eg, company)
organizationName_default    = nginx.brunorozendo.com
commonName                  = Common Name (e.g. server FQDN or YOUR name)
commonName_default          = Bruno Rozendo Nginx Certificate

[ req_attributes ]
#challengePassword           = adm123
challengePassword_min       = 4
challengePassword_max       = 20

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:false